body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#message-board{width: 100%; min-height: 400px;}
#msg-panel .panel-footer{position: fixed; bottom: 0px; left: 0; width: 100%;}

.sender{color: green;}
.received{color: red;}
